/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/games/gam-4/gam308.cur), auto !important;} /* End https://www.cursors-4u.com */

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-start;
    margin-right: 66px;
    border: 5px solid black;
    
}


html{
    min-height: 100%;
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    background-color: rgba(137, 140, 148, 0);
}

#title-container > h1 {
    font-size: xx-large;
    font-family:'Courier New', Courier;
    position: relative;
    text-decoration: underline
    
    
}
#title-container > h1{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


#github-link{
    width:20px;
    height:20px;
    
}
#linkedIn{
    width:40px;
    height:22px;
    
    
}

#socials{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    
}


.section{
    background-color: rgba(201, 206, 209, 0.349);
    width: 55vw;
    height: 67vh;
    margin-left: 23vw;
    margin-top: 10vh;
    display: flex;
    align-items:center;
    flex-direction: column;
    outline-style: double;
    outline-width: thick;
}

#home-contact-btn{
    position: relative;
    left: 45vw;
    margin-top: 4vw;
}

#display{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 25px;
}
  
  p{
    text-align: center;
    letter-spacing: 1px;  
    font-size: 29px;
    margin-bottom: 20px;
    color: #000000;
  }
h1{
    font-size: xx-large;
    margin-top: 20px;

}

#home-contact-btn{
    float: left;
    width: 250px;
    position: relative;
    left: 345px;
    height: 35px
    

}

#home-contact-btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #afa04c; /* Green */
  color: white;
  }
  
  #home:hover{
    background-color: #afa04c; /* Green */
  color: white;
  font-weight: lighter;
  }

  #about:hover{
    background-color: #afa04c; /* Green */
  color: white;
  }

  #skills:hover{
    background-color: #afa04c; /* Green */
  color: white;
  }

  #projects:hover{
    background-color: #afa04c; /* Green */
  color: white;
  }

  #contact:hover{
    background-color: #afa04c; /* Green */
  color: white;
  }

  a{
      color: rgb(255, 218, 7);
      font-weight: lighter;
      
  }

  h3{
      font-size: xx-large;
  }